.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section{
  display: flex;
  justify-content: space-around;
}
footer{
  margin-top: 50px;
}
ul{
  padding:0;
  margin:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
li{
  position: relative;
  margin:10px;
  list-style-type: none;
  background-color: #DAF5FF;
  color:gray;
  height:50px;
  padding:10px;
}
button{
  border:0;
  outline:0;
  background-color: transparent;
}
.wrap{
  
}
.wrap .section{
  border-radius: 10px;
  padding: 50px;
}
.Todo-wrap .section{
  border:1px solid #FEFF86;
}
.Doing-wrap .section{
  border:1px solid #B0DAFF;
}
.Done-wrap .section{
  border: 1px solid #B9E9FC;
}
